<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"><i class="icon-magnifier i-sm m-r-sm"></i> 搜索</h1>
</div>
<div class="wrapper-md"  ng-controller="WeiXinSearchCtrl">

  <!-- 搜索 -->
  <search  header = "false"></search>
  
  <p class="m-b-md"><strong>关键词：</strong> <strong>{{searchKeywords}}</strong></p>
  {{topic}}
  <tabset class="tab-container">
    <tab>
      <tab-heading>
        文章 <span class="badge bg-danger badge-sm m-l-xs">{{topicsCount}}</span>
      </tab-heading>
        <article ng-repeat="topic in topics" class="media" ng-show = "topics.length > 0">
            <div class="pull-left">
                <img style="margin-bottom:5px;width:88px;height: 80px;" ng-src="{{topic.imurl || imgDeg}}">
            </div>
            <div class="media-body">
                <a href="{{topic.url}}" target="blank" class="h4"><message>{{topic.title | titleFilters}}</message></a>
                <small class="block m-t-xs">摘要：{{topic.summary| titleFilters}}</small>
                <span class="text-xs"><span class="text-info">{{topic.pubtime}}</span> 来自 <a ui-sref="wx.search.detail({open_id:topic.open_id})" class="text-info">{{topic.sourcename}}</a></span>
            </div>
            <div class="line b-b"></div>
        </article>
        <p ng-show = "topicLoading">
            <img  src = "public/img/loading.gif" />
        </p>
        <p  ng-show = "topic_no_data"> 
                          暂时木有数据！
        </p>
        <pagination ng-hide = "topic_no_data" total-items="bigTotalItemsTopic" ng-model="bigCurrentPageTopic" max-size="maxSizeTopic" ng-change="pageChangedTopic(bigCurrentPageTopic);" class="pagination-sm m-t-sm m-b " boundary-links="true"></pagination>
    </tab>
    <tab>
      <tab-heading>
        公众号 <span class="badge bg-danger badge-sm m-l-xs">{{weixinsCount}}</span>
      </tab-heading>
        <article ng-repeat="weixin in weixins" class="media">
            <div class="pull-left">
                <img style="margin-bottom:5px; width:88px;height: 80px;" ng-src="{{weixin.headim}}">
            </div>
            <div class="media-body">
                <a ui-sref="wx.search.detail({open_id:weixin.open_id})" class="h4">{{weixin.sourcename}}</a>
                <small class="block m-t-xs text-muted">微信号：{{weixin.weixin_id}}</small>
                <small class="block m-t-xs">功能介绍：<span>{{weixin.intro}}</span></small>
                <small class="block m-t-xs">微信认证：{{weixin.verti}}</small>
                <small class="block m-t-xs">最近文章：<a href="{{weixin.artical_url}}" target="blank" class="text-info">{{weixin.artical_title}}</a></small>
            </div>
            <div class="line b-b"></div>
        </article>
        <p ng-show = "weixinLoading">
            <img  src = "public/img/loading.gif" >
        </p>
        <p  ng-show = "weixin_no_data"> 
                          暂时木有数据！
        </p>
        <pagination ng-hide = "weixin_no_data" total-items="bigTotalItemsWx" ng-model="bigCurrentPageWx" max-size="maxSizeWx" ng-change="pageChangedWx(bigCurrentPageWx)" class="pagination-sm m-t-sm m-b " boundary-links="true"></pagination> 
    </tab>

  </tabset>
</div>