<div class="modal-over bg-black">
  <div class="modal-center animated fadeInUp text-center" style="width:200px;margin:-100px 0 0 -100px;">
    <div class="thumb-lg">
      <img src="img/a0.jpg" class="img-circle">
    </div>
    <p class="h4 m-t m-b">微情警务通</p>
      <div class="list-group list-group-sm">
          <div class="list-group-item">
              <input type="email" placeholder="用户名" class="form-control no-border ng-pristine ng-invalid ng-invalid-required ng-valid-email" ng-model="user.email" required="">
          </div>
          <div class="list-group-item">
              <input type="password" placeholder="密码" class="form-control no-border ng-pristine ng-invalid ng-invalid-required" ng-model="user.password" required="">
          </div>
      </div>
      <a href="#/app/topics" class="btn btn-lg btn-primary btn-block">登录</a>
  </div>
</div>