<!doctype html>
<html lang="zh-CN" >
<head>
    <meta charset="UTF-8">
    <title>#{get 'title' /}</title>
    <!--css 引入 -->
    #{get 'css'/}
    <!-- #{css ['main']/} -->
    
    <!-- js 引入 -->
    #{get 'js'/}
    #{js ['directives','controllers','filters'] /}
    <!-- #{js ['head','jquery-1.11.0.min','angular','angular-ui-router.min','zui/zui','zui/auth','zui/password-match','zui/ueditor'] /} -->
    %{appPath='/public/appp'}%
    <script type="text/javascript">
        var appPath = '${appPath}';
    </script>
</head>
<body ng-controller="AppCtrl">
#{doLayout /}


${appjs.raw()} *{自动加载app目录中所有js，仅开发模式}*

<script type="text/javascript">
    angular.bootstrap(document.body,['app'])
</script>
</body>
</html>